[Desktop Entry]
Name=RCTiler
Comment=RCTiler manualy tile windows on large screens (4K)
Icon=preferences-system-windows-move
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=rudicode
X-KDE-PluginInfo-Email=rudi@rudicode.com
X-KDE-PluginInfo-Name=RCTiler
X-KDE-PluginInfo-Version=0.4.5
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
